@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: center;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 12px;
  background-color: gray;
  color: white;
}
.general {
  margin-top: 10%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.submit {
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
}
